.container-custom {
  padding-top: 5rem;
  padding-bottom: 5rem;
  min-height: 100vh;
  background: transparent;
}

/* Landing CSS */

/* Login and Register Page */

.invalid-feedback {
  text-align: left;
}
